<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852854144164-m2frvklvaeesil11dc8f6sfkf9r2rdap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852854144164-m2frvklvaeesil11dc8f6sfkf9r2rdap</string>
	<key>API_KEY</key>
	<string>AIzaSyCD41vjq7yZh2AIYLL0DO5BV_-WipM4dLY</string>
	<key>GCM_SENDER_ID</key>
	<string>852854144164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.campustransport.app</string>
	<key>PROJECT_ID</key>
	<string>kudunav-db71a</string>
	<key>STORAGE_BUCKET</key>
	<string>kudunav-db71a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852854144164:ios:022713ed60d675f5ba7a31</string>
</dict>
</plist>